version: v3
teleport:
  nodename: auth
  data_dir: /var/lib/teleport
  diag_addr: 0.0.0.0:3000
  log: {output: stderr, severity: INFO}
auth_service:
  enabled: "yes"
  cluster_name: ${FQDN}
  listen_addr: 0.0.0.0:3025
  proxy_listener_mode: multiplex
proxy_service:
  enabled: "yes"
  web_listen_addr: 0.0.0.0:${PORT}
  public_addr: ["${FQDN}:${PORT}"]
  https_keypairs:
    - key_file: /certs/wildcard.key
      cert_file: /certs/wildcard.crt
ssh_service: {enabled: "no"}
