version: v2
onboarding:
  join_method: bound_keypair
  token: bk-token
  bound_keypair:
    registration_secret: {{ wrong_secret }}
proxy_server: {{ fqdn }}:{{ port }}
storage: {type: directory, path: /var/lib/tbot}
outputs:
  - type: identity
    destination: {type: directory, path: /out/id}
