version: v2
onboarding:
  join_method: kubernetes
  token: cache-probe-token
proxy_server: {{ fqdn }}:{{ port }}
storage: {type: directory, path: /var/lib/tbot}
outputs:
  - type: identity
    destination: {type: directory, path: /out/id}
